name: Running CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        cache: 'npm'
    - run: npm ci
    - run: npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        cache: 'npm'
    - run: npm ci
    - run: npm test

  build:
    runs-on: ubuntu-latest
    needs: [lint, test]
    environment: CI/CD Nodejs
    steps:
    - uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Get specific Commit ID
      id: vars
      run: |
        if [ "${{ github.event_name }}" == "pull_request" ]; then
          echo "sha=${{ github.event.pull_request.head.sha }}" >> $GITHUB_OUTPUT
        else
          echo "sha=${{ github.sha }}" >> $GITHUB_OUTPUT
        fi

    - name: Build with Docker Compose
      run: |
        export TAG=${{ steps.vars.outputs.sha }}
        docker-compose build app

    - name: Push Image (Commit SHA)
      run: |
        export TAG=${{ steps.vars.outputs.sha }}
        docker-compose push app

    - name: Tag and Push Latest
      run: |
        export TAG=${{ steps.vars.outputs.sha }}
        docker tag phucdang123456/nodejs-ci-cd-demo:$TAG phucdang123456/nodejs-ci-cd-demo:latest
        docker push phucdang123456/nodejs-ci-cd-demo:latest
